## 1. 파이썬 함수

In [3]:
def add(a,b):
    return a+b

a , b = 3 , 4
c = add(a,b)
print(c)

d = add(111,222)
print(d)

7
333

In [8]:
# 1. 매개변수 O, 리턴값 O
def minus(a,b):
    result = a - b
    return result

a = minus(10,4)
print(a)

6

In [9]:
# 2. 매개변수 X , 리턴값 O
def say():
    return 'Hi!'
print(say())

Hi!

In [11]:
# 3. 매개변수 O , 리턴값 X
def add(x,y):
    print("%d, %d의 합은 %d입니다,"%(x,y,x+y))
add(12,24)

a = add(3,4)
print(a)

12, 24의 합은 36입니다,
3, 4의 합은 7입니다,
None

In [13]:
# 4. 매개변수 X, 리턴값 X
def say():
    print('Hi~')
say()

Hi~

In [15]:
# 키워드 매개변수
def sub(a, b):
    return a - b
result = sub(7,3)
print(result)

result2 = sub(b=3, a=7)
print(result2)

4
4

In [17]:
# 가변 매개변수(*매개변수명)
def add_many(*args):
    result = 0
    for i in args:
        result += i
    return result

res1 = add_many(1,2,3,4,5)
print(res1)

res2 = add_many(1,2,3,4,5,6,7,8,9,10)
print(res2)

15
55

In [32]:
# 튜플형 가변 매개변수
def add_mul(choice, *args):
    if choice =="add": #매개변수 choice에 "add"를 입력받았을 때
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul": #매개변수 choice에 "mul"을 입력받았을 때
        result = 1
        for i in args:
           result = result*i
    return result
result=add_mul('add',1,2,3,4,5)
print(result)

result=add_mul('mul',1,2,3,4,5)
print(result)

15
120

In [33]:
# 딕셔너리형 가변 매개변수
def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1)
{'a':1}
print_kwargs(name='foo', age=3)
{'age':3,'name':'foo'}

{'a': 1}
{'name': 'foo', 'age': 3}

{'age': 3, 'name': 'foo'}

In [37]:
# 함수의 리턴값은 언제나 하나!
def add_and_mul(a,b):
    return a+b, a*b
result1,result2=add_and_mul(3,4)
print(result1)
print(result2)

7
12

In [38]:
def add_and_mul(a,b):
    return a+b #return문을 만나면 값을 반환하고 함수를 종료함.
    return a*b

result=add_and_mul(2,3)
print(result)

5

In [42]:
# return의 또 다른 쓰임새

def say_nick(nick):
    if nick == "바보":
        return
    print("나의 별명은 %s 입니다." %nick)

say_nick('야호')

나의 별명은 야호 입니다.

In [43]:
def say_nick(nick):
    if nick == "바보":
        return
    print("나의 별명은 %s 입니다." %nick)

say_nick('바보')

In [44]:
# 매개변수에 초깃값 설정하기

def say_myself(name,age,man=True):
    print("나의 이름은 %s 입니다." %name)
    print("나이는 %d살 입니다." %age)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")
say_myself("이윤서",31)

say_myself("이윤서",31,True)

say_myself("이윤서",31,False)

나의 이름은 이윤서 입니다.
나이는 31살 입니다.
남자입니다.
나의 이름은 이윤서 입니다.
나이는 31살 입니다.
남자입니다.
나의 이름은 이윤서 입니다.
나이는 31살 입니다.
여자입니다.

In [64]:
# 함수 안에서 선언한 변수의 유효 범위
def vartest(a):
    return a+1
a = vartest(3) # vartest함수를 실행하고 반환값을 변수a에 대입
print(a) #변수a값 출력

4

In [65]:
# 함수 안에서 함수 밖의 변수를 변경
a=1
def vartest(a):
    a = a+1
    return a
a = vartest(a) #a=vartest(1)과 같음
print(a)

2

In [66]:
a = 1
def vartest():
    global a # global변수로 변경
    a = a+1
vartest()
print(a)

2

In [67]:
# lambda 예약어
add = lambda a,b:a+b
result = add(3,4)
print(result)

7

In [69]:
def add(a,b):
    return a+b
result = add(3,4)
print(result)

7

#### 2} 리스트 평탄화하는 재귀함수 만들기

In [77]:
# 반복문으로 리스트 평탄화
def flatten(date):
    output =[]
    for item in data:
        if type(item) == list:
            output += itrm
            #print(output)
        else:
            output.append(item)
    return output

example = [[1,2,3],[4,[5,6]],7,[8,9]]
print(len(example))
print('원본:',example)
print('평탄화:', flatten(example))

4
원본: [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]

NameError: name 'data' is not defined

In [76]:
# 재귀 함수로 리스트 평탄화
def flatten(date):
    output =[]
    for item in data:
        if type(item) == list:
            output += flatten(item)
            print(output)
        else:
            output.append(item)
    return output

example = [[1,2,3],[4,[5,6]],7,[8,9]]
print('원본:',example)
print('평탄화:', flatten(example))

원본: [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]

NameError: name 'data' is not defined